@page "/ej/07"
@rendermode InteractiveServer
<PageTitle>Ejercicio 7</PageTitle> 

<h3>Ejercicio 7</h3>

<h3>C칩digo ASCII</h3>
<p>Ingresa un car치cter:</p>
<input @bind="caracter" type="text" maxlength="1" />
<button @onclick="ObtenerCodigoAscii">Obtener C칩digo ASCII</button>

<p>El c칩digo ASCII es: @codigoAscii</p>

@code {
    private string caracter;
    private int codigoAscii;

    private void ObtenerCodigoAscii()
    {
        if (!string.IsNullOrEmpty(caracter))
        {
            codigoAscii = (int)caracter[0];
        }
    }
}