@page "/ej/27"
@rendermode InteractiveServer
<PageTitle>Ejercicio 27</PageTitle> 

<h3>Ejercicio 27</h3>

<h3>Retornar Posición del Mayor Valor</h3>
<p>Ingresa 10 números separados por comas:</p>
<input @bind="vectorInput" type="text" />
<button @onclick="RetornarPosicionMayor">Obtener Posición</button>

<p>La posición del mayor valor es: @posicionMayor</p>

@code {
    private string vectorInput;
    private int posicionMayor;

    private void RetornarPosicionMayor()
    {
        var vector = vectorInput.Split(',').Select(int.Parse).ToArray();
        int max = vector.Max();
        posicionMayor = Array.IndexOf(vector, max);
    }
}