span[b-o6gatc15ls]{
    font-size:15px;
}
a[b-o6gatc15ls]{
  text-decoration:none; 
  color: #0062cc;
  border-bottom:2px solid #0062cc;
}
.box[b-o6gatc15ls]{
    padding:60px 0px;
}

.box-part[b-o6gatc15ls]{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text[b-o6gatc15ls]{
    margin:20px 0px;
}

.fa[b-o6gatc15ls]{
     color:#4183D7;
}