@page "/acerca_de"

<p>Agregar una pagina ACERCA DE, donde mostrara foto y datos de la persona que realizo esta tarea, asi como formas
    rapidas para contactale via Whatsapp o Telegram. Cuando le demos un click a Ws o Telegram por defecto debe haber un
    mensaje predefinido que diga: "Hola te contacto para un trabajo bueno, Te pagaremos mucho dinero" </p>

<h3>Contacto</h3>

<img src="https://mail.google.com/mail/u/0?ui=2&ik=10e74f72c7&attid=0.1&permmsgid=msg-a:r3223358204425763343&th=191fd5f6978b3deb&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ-yxZsuOHUt7Vxp9oqXRKlu3ewOw1RTJIMh6y_JT1-wRVFh4UAuuOHrbRNZWWBigXdfCHTAtcBoLOvgk3nXuqiUHUJPbYf-XU-ojui_MOri7NiAo6H90NrXx98&disp=emb&realattid=C82F8FA8-B4F2-45EB-92C8-0D0191318652" alt="Foto 2x2" width="150" height="150" />
<p><strong>Nombre:</strong> Eliezer Palacio Ramos</p>
<p><strong>Correo Electrónico:</strong> Ramoseliezer75@gmail.com</p>

<div class="text-center">
    <a target="_blank"
        href="https://wa.me/8299936506?text=Hola%20te%20contacto%20para%20un%20trabajo%20bueno,%20Te%20pagaremos%20mucho%20dinero"
        class="btn-btn-success">
        <i class="fab fa-whatsapp"></i>
        Ws
    </a>
    <a target="_blank"
        href="https://t.me/EliezerPR?text=Hola%20te%20contacto%20para%20un%20trabajo%20bueno,%20Te%20pagaremos%20mucho%20dinero"
        class="btn-primary">
        <i class="fab fa-Telegram"></i>
        Telegram
    </a>

</div>