@page "/"

<PageTitle>INICIO</PageTitle>
<div class="text-end">
     <NavLink class="btn btn-primary"href="acerca_de">Acerca de</NavLink>
</div>
<h4>Selecciona el ejercicio que quieres ver</h4>

<div class="container">
    <div class="row">
        <!-- Generar bloques de ejercicios para los números impares del 1 al 49 -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-star fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 1</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 1</span>
                </div>
                <NavLink href="ej/01">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-heart fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 3</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 3</span>
                </div>
                <NavLink href="ej/03">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-sun fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 5</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 5</span>
                </div>
                <NavLink href="ej/05">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-moon fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 7</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 7</span>
                </div>
                <NavLink href="ej/07">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-tree fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 9</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 9</span>
                </div>
                <NavLink href="ej/09">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-music fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 11</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 11</span>
                </div>
                <NavLink href="ej/11">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-film fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 13</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 13</span>
                </div>
                <NavLink href="ej/13">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-bicycle fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 15</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 15</span>
                </div>
                <NavLink href="ej/15">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-plane fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 17</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 17</span>
                </div>
                <NavLink href="ej/17">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-ship fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 19</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 19</span>
                </div>
                <NavLink href="ej/19">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-car fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 21</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 21</span>
                </div>
                <NavLink href="ej/21">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-bus fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 23</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 23</span>
                </div>
                <NavLink href="ej/23">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-train fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 25</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 25</span>
                </div>
                <NavLink href="ej/25">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-bolt fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 27</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 27</span>
                </div>
                <NavLink href="ej/27">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-futbol-o fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 29</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 29</span>
                </div>
                <NavLink href="ej/29">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-soccer-ball-o fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 31</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 31</span>
                </div>
                <NavLink href="ej/31">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-guitar fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 33</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 33</span>
                </div>
                <NavLink href="ej/33">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-paint-brush fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 35</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 35</span>
                </div>
                <NavLink href="ej/35">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-code fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 37</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 37</span>
                </div>
                <NavLink href="ej/37">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-cog fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 39</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 39</span>
                </div>
                <NavLink href="ej/39">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-laptop fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 41</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 41</span>
                </div>
                <NavLink href="ej/41">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-camera fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 43</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 43</span>
                </div>
                <NavLink href="ej/43">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-book fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 45</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 45</span>
                </div>
                <NavLink href="ej/45">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-lightbulb-o fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 47</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 47</span>
                </div>
                <NavLink href="ej/47">PRUEBALO</NavLink>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-balance-scale fa-3x" aria-hidden="true"></i>
                <div class="title">
                    <h4>EJERCICIO 49</h4>
                </div>
                <div class="text">
                    <span>Descripción del ejercicio 49</span>
                </div>
                <NavLink href="ej/49">PRUEBALO</NavLink>
            </div>
        </div>
    </div>
</div>

